<div class="relative">
  <img class="object-cover w-full mb-0 h-60 prose-none" src="{{ SITEURL }}/{{ article.cover_image.src }}"
    alt="{{ article.cover_image.alt }}" />

  <div class="absolute bottom-0 right-0 px-2 mb-1 bg-gray-200 rounded-l-full opacity-60">
    <span class="text-xs italic">Photo by</span>
    <span class="text-xs uppercase">
      <a href="{{ article.cover_image.creator.link }}" target="_blank">
        {{ article.cover_image.creator.name }}
      </a>
    </span>
    <span class="text-xs italic">on</span>
    <span class="text-xs uppercase">
      <a href="{{ article.cover_image.publisher.link }}" target="_blank">
        {{ article.cover_image.publisher.name }}
      </a>
    </span>
  </div>
</div>