{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
{{ super() }}

{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(page) %}
{{ translations.entry_hreflang(page) }}
{% endif %}
{% endblock %}

{% block content %}
<article class="prose prose-md prose-p:font-serif prose-a:font-sans mx-auto bg-white p-4 shadow-lg">
  <h1>{{ page.title }}<i class="icon-ansible w-24"></i></h1>
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}

  {{ page.content }}

  {% if page.modified %}
  <p>
    Last updated: {{ page.locale_modified }}
  </p>
  {% endif %}
</article>
{% endblock %}

{% block sidebar %}
{% if page.sidebar_links | length > 0 %}
<div class="text-lg text-center font-semibold bg-white">Sponsored</div>
{% endif %}
{% for sidebar_link in page.sidebar_links %}
<a href="{{ sidebar_link.link }}" target="_blank">
  <img src="{{ sidebar_link.image }}" class="w-44 mx-auto">
  <p class="text-center font-semibold"><span class="bg-white">{{ sidebar_link.title }}</span></p>
</a>
{% endfor %}
{% endblock %}